In [1]:
import pandas as pd
from scipy.stats import chi2_contingency

In [6]:
df = pd.read_csv('sf.csv')

/Users/toddhendricks/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
df.head(5)

,raw_row_number,date,time,location,lat,lng,district,subject_age,subject_race,subject_sex,...,citation_issued,warning_issued,outcome,contraband_found,search_conducted,search_vehicle,search_basis,reason_for_stop,raw_search_vehicle_description,raw_result_of_contact_description
0,869921,2014-08-01,00:01:00,MASONIC AV & FELL ST,37.773004,-122.445873,NaN,NaN,asian/pacific islander,female,...,False,True,warning,NaN,False,False,NaN,Mechanical or Non-Moving Violation (V.C.),No Search,Warning
1,869922,2014-08-01,00:01:00,GEARY&10TH AV,37.780898,-122.468586,NaN,NaN,black,male,...,True,False,citation,NaN,False,False,NaN,Mechanical or Non-Moving Violation (V.C.),No Search,Citation
2,869923,2014-08-01,00:15:00,SUTTER N OCTAVIA ST,37.786919,-122.426718,NaN,NaN,hispanic,male,...,True,False,citation,NaN,False,False,NaN,Mechanical or Non-Moving Violation (V.C.),No Search,Citation
3,869924,2014-08-01,00:18:00,3RD ST & DAVIDSON,37.746380,-122.392005,NaN,NaN,hispanic,male,...,False,True,warning,NaN,False,False,NaN,Mechanical or Non-Moving Violation (V.C.),No Search,Warning
4,869925,2014-08-01,00:19:00,DIVISADERO ST. & BUSH ST.,37.786348,-122.440003,NaN,NaN,white,male,...,True,False,citation,NaN,False,False,NaN,Mechanical or Non-Moving Violation (V.C.),No Search,Citation

In [8]:
df.shape

(905070, 22)

In [38]:
outcome_by_race = pd.crosstab(df.subject_race,df.outcome)

In [44]:
outcome_by_race

outcome                 arrest  citation  warning
subject_race
asian/pacific islander    1221    123464    32039
black                     3540     83635    60744
hispanic                  2284     77355    31432
other                      910     81438    22830
white                     3970    265710    98817

In [55]:
b = outcome_by_race.loc['black']
w = outcome_by_race.loc['white']
obs = np.array([b,w])
obs

array([[  3540,  83635,  60744],
       [  3970, 265710,  98817]])

In [56]:
chi2_contingency(obs)

(11973.28378614793,
 0.0,
 2,
 array([[  2151.11787783, 100064.21771401,  45703.66440815],
        [  5358.88212217, 249280.78228599, 113857.33559185]]))

In [42]:
chi2

0.0