In [1]:
import pandas as pd

In [37]:
san_fran = pd.read_csv('ca_san_francisco_2020_04_01.csv')
az_mesa = pd.read_csv('az_mesa_2020_04_01.csv')
ca_state_patrol = pd.read_csv('ca_statewide_2020_04_01.csv')
louisville = pd.read_csv('ky_louisville_2020_04_01.csv')
ill = pd.read_csv('il_statewide_2020_04_01.csv')

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (3,4,18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
az_mesa.columns

Index(['raw_row_number', 'date', 'time', 'location', 'lat', 'lng',
       'subject_age', 'subject_race', 'subject_sex', 'officer_id_hash', 'type',
       'violation', 'arrest_made', 'citation_issued', 'warning_issued',
       'outcome', 'raw_race_fixed', 'raw_ethnicity_fixed', 'raw_charge'],
      dtype='object')

In [8]:
san_fran.columns

Index(['raw_row_number', 'date', 'time', 'location', 'lat', 'lng', 'district',
       'subject_age', 'subject_race', 'subject_sex', 'type', 'arrest_made',
       'citation_issued', 'warning_issued', 'outcome', 'contraband_found',
       'search_conducted', 'search_vehicle', 'search_basis', 'reason_for_stop',
       'raw_search_vehicle_description', 'raw_result_of_contact_description'],
      dtype='object')

In [9]:
az_mesa.head(10)

,raw_row_number,date,time,location,lat,lng,subject_age,subject_race,subject_sex,officer_id_hash,type,violation,arrest_made,citation_issued,warning_issued,outcome,raw_race_fixed,raw_ethnicity_fixed,raw_charge
0,1,2014-01-01,05:04:00,"700 E FRANKLIN AVE, MESA",33.402381,-111.816143,36.0,hispanic,female,d4eed1c4dc,NaN,NOISE AFTER 10PM TO 6AM,False,True,False,citation,W,H,------A-
1,2,2014-01-01,12:33:00,"400 E BROWN RD, MESA",33.435577,-111.822654,58.0,white,female,e24408e0fd,vehicular,NO PROOF OF INSURANCE,False,True,False,citation,W,N,-------C
2,3,2014-01-01,12:27:00,"3600 E SOUTHERN AVE, MESA",33.393701,-111.753798,19.0,white,male,4ab12ca221,vehicular,SPEED NOT R&P/FTC SPEED TO AVOID A COLLISION,False,True,False,citation,W,N,------A
3,4,2014-01-01,13:52:00,"400 N CENTER ST, MESA",33.422339,-111.831445,46.0,black,male,b1c5205466,vehicular,SUSP/REVOKED LIC,False,True,False,citation,B,N,-------B
4,5,2014-01-01,03:02:00,"2100 W UNIVERSITY0 DR, MESA",33.422121,-111.876371,27.0,white,male,5cbad8bdf3,vehicular,DRIVE ON SUSPENDED OR REVOKED LICENSE,False,True,False,citation,W,N,-------A
5,6,2014-01-01,01:32:00,"1600 S VAL VISTA, MESA",33.386046,-111.754007,58.0,white,male,5cbad8bdf3,vehicular,EXPIRED REGISTRATION,False,True,False,citation,W,N,-------A
6,7,2014-01-01,16:07:00,"1600 S SIGNAL BUTTE, MESA",33.385205,-111.598139,24.0,white,male,faf0fd703a,NaN,FALSE REPORT TO LAW ENFORCE,True,True,False,arrest,W,N,-------.-
7,8,2014-01-01,17:57:00,"1600 S SIGNAL BUTTE, MESA",33.385205,-111.598139,27.0,white,male,faf0fd703a,NaN,SHOPLIFTING-REMOVAL OF GOODS,True,True,False,arrest,W,N,-------A-
8,9,2014-01-01,01:29:00,"2000 E UNIVERSITY DR, MESA",33.422641,-111.788051,27.0,white,male,29dac4e72e,vehicular,LICENSE PLATE LIGHT REQUIRED,False,True,False,citation,W,N,------C
9,10,2014-01-01,07:53:00,"2800 E BROADWAY RD, MESA",33.408159,-111.771116,29.0,hispanic,female,320856c020,vehicular,CHILD RESTRAINT VIOLATION < 5 YEARS,False,True,False,citation,W,H,------A

In [17]:
mesa_demo = az_mesa.groupby('subject_race').nunique()

In [20]:
san_fran['search_conducted'].value_counts()

False    851689
True      53381
Name: search_conducted, dtype: int64

In [23]:
ca_state_patrol.head(10)

,raw_row_number,date,county_name,district,subject_race,subject_sex,department_name,type,violation,arrest_made,...,warning_issued,outcome,contraband_found,frisk_performed,search_conducted,search_person,search_basis,reason_for_stop,raw_race,raw_search_basis
0,1,2009-07-01,Stanislaus County,Modesto,other,male,California Highway Patrol,vehicular,Motorist / Public Service,NaN,...,NaN,NaN,NaN,NaN,False,False,NaN,Motorist / Public Service,Other,Vehicle Inventory
1,2,2009-07-01,Stanislaus County,Modesto,hispanic,female,California Highway Patrol,vehicular,Moving Violation (VC),False,...,False,summons,NaN,NaN,False,False,NaN,Moving Violation (VC),Hispanic,Probable Cause (positive)
2,3,2009-07-01,Stanislaus County,Modesto,hispanic,female,California Highway Patrol,vehicular,Moving Violation (VC),False,...,False,summons,NaN,NaN,True,NaN,other,Moving Violation (VC),Hispanic,Probable Cause (positive)
3,4,2009-07-01,Stanislaus County,Modesto,white,female,California Highway Patrol,vehicular,Moving Violation (VC),False,...,False,summons,NaN,NaN,False,False,NaN,Moving Violation (VC),White,Probable Cause (positive)
4,5,2009-07-01,Stanislaus County,Modesto,hispanic,male,California Highway Patrol,vehicular,Moving Violation (VC),False,...,False,summons,NaN,NaN,True,NaN,other,Moving Violation (VC),Hispanic,Probable Cause (positive)
5,6,2009-07-01,Stanislaus County,Modesto,hispanic,male,California Highway Patrol,vehicular,Moving Violation (VC),False,...,False,summons,NaN,NaN,False,False,NaN,Moving Violation (VC),Hispanic,Probable Cause (positive)
6,7,2009-07-01,Stanislaus County,Modesto,hispanic,female,California Highway Patrol,vehicular,Moving Violation (VC),False,...,False,summons,NaN,NaN,False,False,NaN,Moving Violation (VC),Hispanic,Probable Cause (positive)
7,8,2009-07-01,Stanislaus County,Modesto,other,female,California Highway Patrol,vehicular,Moving Violation (VC),False,...,False,summons,NaN,NaN,False,False,NaN,Moving Violation (VC),Other,Probable Cause (positive)
8,9,2009-07-01,Stanislaus County,Modesto,hispanic,male,California Highway Patrol,vehicular,Moving Violation (VC),False,...,False,summons,NaN,NaN,False,False,NaN,Moving Violation (VC),Hispanic,Probable Cause (positive)
9,10,2009-07-01,Stanislaus County,Modesto,white,female,California Highway Patrol,vehicular,Mechanical or Nonmoving Violation (VC),False,...,True,warning,NaN,NaN,False,False,NaN,Mechanical or Nonmoving Violation (VC),White,Probable Cause (negative)

In [27]:
search_by_race = ca_state_patrol.groupby(['raw_race','search_conducted'])

In [32]:
louisville_blk = louisville[louisville.subject_race == 'black']

In [33]:
louisville_blk.describe()

                lat           lng   subject_age
count  34758.000000  34758.000000  23154.000000
mean      38.216769    -85.745073     34.962598
std        0.050125      0.086794     12.917728
min       37.238390    -90.199404     12.000000
25%       38.184753    -85.789946     25.000000
50%       38.237427    -85.758456     32.000000
75%       38.252665    -85.704925     43.000000
max       38.959701    -82.260824     89.000000

In [34]:
louisville.columns

Index(['raw_row_number', 'date', 'time', 'location', 'lat', 'lng', 'beat',
       'division', 'subject_age', 'subject_race', 'subject_sex',
       'officer_race', 'officer_sex', 'type', 'violation', 'citation_issued',
       'warning_issued', 'outcome', 'frisk_performed', 'search_conducted',
       'search_basis', 'reason_for_search', 'raw_activity_division',
       'raw_division', 'raw_activity_beat', 'raw_beat', 'raw_driver_race',
       'raw_persons_race', 'raw_persons_ethnicity', 'raw_driver_age_range',
       'raw_was_vehcile_searched', 'raw_citation_location'],
      dtype='object')

In [35]:
louisville.location.head(10)

0       PRESTON HWY/LINWOOD AVE
1        BARDSTOWN RD/GLENWORTH
2         HIKES LN/GOLDSMITH LN
3          DOWNING WAY/HIKES LN
4    PRESTON HWY/FERN VALLEY RD
5             EASTERN/ALEXANDER
6           POPLAR LEVEL/MERCER
7           GILMORE/PRESTON HWY
8    PRESTON HWY/PIGEON PASS RD
9      POPLAR LEVEL RD/VALLA RD
Name: location, dtype: object

In [36]:
louisville.officer_race.value_counts()

white                     86936
black                     21684
asian/pacific islander     1417
hispanic                    723
other                        44
Name: officer_race, dtype: int64

In [38]:
ill.head(10)

,raw_row_number,date,time,location,beat,subject_age,subject_race,subject_sex,department_id,department_name,...,search_person,search_vehicle,search_basis,reason_for_stop,vehicle_make,vehicle_year,raw_DriverRace,raw_ReasonForStop,raw_TypeOfMovingViolation,raw_ResultOfStop
0,1,2012-09-15,10:20:00,60641,1611,NaN,hispanic,male,13194.0,CHICAGO POLICE,...,False,False,NaN,Moving Violation: Traffic Sign or Signal,CHRYSLER,2004.0,4,1,4,1
1,2,2012-09-15,10:20:00,60189,1912,NaN,white,female,13194.0,CHICAGO POLICE,...,False,False,NaN,Moving Violation: Lane Violation,LEXUS,1999.0,1,1,2,1
2,3,2012-09-15,10:20:00,60638,815,NaN,hispanic,female,13194.0,CHICAGO POLICE,...,False,False,NaN,Moving Violation: Other,WHITE GMC (BEGIN. MODEL YEAR 1988),2010.0,4,1,6,1
3,4,2012-09-15,10:20:00,60638,925,NaN,white,male,13194.0,CHICAGO POLICE,...,False,False,NaN,Moving Violation: Other,CHEVROLET,2008.0,1,1,6,1
4,5,2012-09-15,10:21:00,NaN,2032,NaN,black,male,13194.0,CHICAGO POLICE,...,False,False,NaN,Moving Violation: Other,DODGE,2007.0,2,1,6,1
5,6,2012-09-15,10:30:00,60632,815,NaN,hispanic,male,13194.0,CHICAGO POLICE,...,False,False,NaN,Moving Violation: Other,CHEVROLET,2000.0,4,1,6,1
6,7,2012-09-15,10:33:00,60625,2032,NaN,white,male,13194.0,CHICAGO POLICE,...,False,False,NaN,Moving Violation: Traffic Sign or Signal,VOLKSWAGEN,2012.0,1,1,4,1
7,8,2012-09-15,10:35:00,60639,2521,NaN,hispanic,male,13194.0,CHICAGO POLICE,...,False,False,NaN,Moving Violation: Traffic Sign or Signal,JEEP,1996.0,4,1,4,1
8,9,2012-09-15,10:35:00,60638,925,NaN,white,female,13194.0,CHICAGO POLICE,...,False,False,NaN,Moving Violation: Other,VOLVO,2006.0,1,1,6,1
9,10,2012-09-15,10:37:00,60623,815,NaN,hispanic,male,13194.0,CHICAGO POLICE,...,False,False,NaN,Moving Violation: Other,WHITE GMC (BEGIN. MODEL YEAR 1988),2000.0,4,1,6,1

In [39]:
ill.columns

Index(['raw_row_number', 'date', 'time', 'location', 'beat', 'subject_age',
       'subject_race', 'subject_sex', 'department_id', 'department_name',
       'type', 'violation', 'citation_issued', 'warning_issued', 'outcome',
       'contraband_found', 'contraband_drugs', 'contraband_weapons',
       'search_conducted', 'search_person', 'search_vehicle', 'search_basis',
       'reason_for_stop', 'vehicle_make', 'vehicle_year', 'raw_DriverRace',
       'raw_ReasonForStop', 'raw_TypeOfMovingViolation', 'raw_ResultOfStop'],
      dtype='object')

In [40]:
md = pd.read_csv('md_statewide_2020_04_01.csv')

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (1,2,3,9,10,11,12,13,14,15,16,17,19,20,21,22,23,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [41]:
md.head(10)

,raw_row_number,date,time,location,subject_age,subject_race,subject_sex,department_name,type,disposition,...,search_conducted,search_person,search_vehicle,search_basis,reason_for_arrest,reason_for_search,reason_for_stop,raw_Race,raw_Outcome,raw_Arrest_Made
0,1,2009-01-01,NaN,NaN,NaN,black,male,Aberdeen PD,vehicular,NaN,...,False,False,False,NaN,NaN,NaN,--,b,warn,NaN
1,2,2009-01-01,NaN,NaN,NaN,black,male,Aberdeen PD,vehicular,none,...,True,True,True,NaN,stop,incarres,--,b,arr,NaN
2,3,2009-01-01,NaN,NaN,NaN,black,female,Aberdeen PD,vehicular,NaN,...,False,False,False,NaN,NaN,NaN,--,b,warn,NaN
3,4,2009-01-01,NaN,NaN,NaN,white,male,Aberdeen PD,vehicular,NaN,...,False,False,False,NaN,NaN,NaN,--,w,warn,NaN
4,5,2009-01-01,NaN,NaN,NaN,white,male,Aberdeen PD,vehicular,NaN,...,False,False,False,NaN,NaN,NaN,--,w,sero,NaN
5,6,2009-01-01,NaN,NaN,NaN,white,male,Aberdeen PD,vehicular,NaN,...,False,False,False,NaN,NaN,NaN,--,w,warn,NaN
6,7,2009-01-01,NaN,NaN,NaN,white,male,Aberdeen PD,vehicular,NaN,...,False,False,False,NaN,NaN,NaN,--,w,sero,NaN
7,8,2009-01-01,NaN,NaN,NaN,black,male,Aberdeen PD,vehicular,none,...,True,True,True,NaN,stop,incarres,--,b,arr,NaN
8,9,2009-01-01,NaN,NaN,NaN,white,female,Aberdeen PD,vehicular,NaN,...,False,False,False,NaN,NaN,NaN,--,w,sero,NaN
9,10,2009-01-01,NaN,NaN,NaN,white,male,Aberdeen PD,vehicular,NaN,...,False,False,False,NaN,NaN,NaN,--,w,sero,NaN

In [42]:
md.subject_race.value_counts()

white                     1867333
black                     1385858
hispanic                   221681
asian/pacific islander      82912
other                       80439
unknown                     17485
Name: subject_race, dtype: int64

In [43]:
md.subject_age.value_counts()

23.0     30054
24.0     28927
22.0     28680
25.0     27707
21.0     26747
         ...
109.0        1
104.0        1
105.0        1
106.0        1
10.0         1
Name: subject_age, Length: 99, dtype: int64

In [44]:
md.subject_age.describe()

count    840097.000000
mean         37.722232
std          14.409544
min          10.000000
25%          25.000000
50%          35.000000
75%          48.000000
max         110.000000
Name: subject_age, dtype: float64

In [45]:
md.time.describe()

count       842105
unique        1440
top       21:00:00
freq          1157
Name: time, dtype: object