In [9]:
import pandas as pd
df = pd.read_fwf("weather.dat")

In [17]:
df2 = df.iloc[:,0:3]
df2.rename(columns={"Dy" : "Day","MxT" : "Max","MnT" : "Min"})  \
   .drop(df2.index[0])  \
   .fillna(method='ffill')  \
   .

   Day   Max   Min
1    1    88    59
2    2    79    63
3    3    77    55
4    4    77    59
5    5    90    66
6    6    81    61
7    7    73    57
8    8    75    54
9    9    86   32*
10  10    84    64
11  11    91    59
12  12    88    73
13  13    70    59
14  14    61    59
15  15    64    55
16  16    79    59
17  17    81    57
18  18    82    52
19  19    81    61
20  20    84    57
21  21    86    59
22  22    90    64
23  23    90    68
24  24    90    77
25  25    90    72
26  26   97*    64
27  27    91    72
28  28    84    68
29  29    88    66
30  30    90    45
31  mo  82.9  60.5