In [4]:
import pandas as pd
from random import seed
from random import random
seed(1)
# generate random numbers between 0-1
x = []
for _ in range(10):
    value = random()
    x.append(value)

In [5]:
print(x)

[0.13436424411240122, 0.8474337369372327, 0.763774618976614, 0.2550690257394217, 0.49543508709194095, 0.4494910647887381, 0.651592972722763, 0.7887233511355132, 0.0938595867742349, 0.02834747652200631]

In [13]:
from random import randint
y = []
seed(1)
# generate some integers
for _ in range(10):
    value = randint(0, 10)
    y.append(value)

df = pd.DataFrame(x,y)
print(df)

           0
2   0.134364
9   0.847434
1   0.763775
4   0.255069
1   0.495435
7   0.449491
7   0.651593
7   0.788723
10  0.093860
6   0.028347

In [14]:
df.shape

(10, 1)

In [16]:
df[0]

2     0.134364
9     0.847434
1     0.763775
4     0.255069
1     0.495435
7     0.449491
7     0.651593
7     0.788723
10    0.093860
6     0.028347
Name: 0, dtype: float64

In [17]:
df[1] = [23,31,9,29,5,8,7,18,30,15]

In [18]:
df.shape

(10, 2)

In [19]:
df

           0   1
2   0.134364  23
9   0.847434  31
1   0.763775   9
4   0.255069  29
1   0.495435   5
7   0.449491   8
7   0.651593   7
7   0.788723  18
10  0.093860  30
6   0.028347  15