In [11]:
import pandas as pd
import numpy as np
import seaborn as sns
spend = pd.read_csv('chase2019.csv', index_col='Transaction Date')
spend['Type'].astype('category')
spend['Amount'] = spend['Amount'].abs()

In [3]:
spend['Amount'].sum()
spend.head()

,Post Date,Description,Category,Type,Amount
Transaction Date,,,,,
11/30/2019,12/01/2019,WHOLEFDS GIL #10530,Groceries,Sale,28.20
11/30/2019,12/01/2019,WHOLEFDS GIL #10530,Groceries,Sale,165.17
11/30/2019,12/01/2019,WHOLEFDS GIL #10530,Groceries,Sale,17.58
11/30/2019,12/01/2019,CVS/PHARMACY #09378,Health & Wellness,Sale,75.12
11/29/2019,12/01/2019,DOORDASH*JIMS COFFEE S,Food & Drink,Sale,36.29

In [6]:
spend.tail()

,Post Date,Description,Category,Type,Amount
Transaction Date,,,,,
01/05/2019,01/07/2019,NOODLE THEORY,Food & Drink,Sale,39.33
12/31/2018,01/01/2019,TRADER JOE'S #203 QPS,Groceries,Sale,40.61
12/30/2018,01/01/2019,AMERICAN AIR0010277596792,Travel,Sale,30.00
12/31/2018,01/01/2019,WHOLEFDS HAR 10221,Groceries,Sale,89.24
12/30/2018,01/01/2019,PHX HUMBLE PIE N1,Food & Drink,Sale,4.12

In [10]:
cat = spend.groupby(by='Category')
cat.describe()

                      Amount                                               \
                       count         mean          std     min        25%
Category
Automotive               1.0   376.090000          NaN  376.09   376.0900
Bills & Utilities       21.0    25.561905    40.236235    3.00     9.2100
Entertainment            3.0    57.733333    40.536784   32.65    34.3500
Fees & Adjustments      21.0    78.280476    96.616267    0.11    27.0000
Food & Drink           118.0    35.074322    30.393466    0.75    12.7475
Gas                      7.0    43.210000    14.569030   10.88    44.5450
Groceries               63.0    56.204762    61.040296    4.55    16.7750
Health & Wellness       27.0   161.382222   255.663572    3.49    24.3550
Home                     2.0    99.940000   114.636151   18.88    59.4100
Miscellaneous            1.0   150.890000          NaN  150.89   150.8900
Personal                 4.0    82.810000    66.519386   27.65    47.4125
Professional Services    2.0  2295.000000  2545.584412  495.00  1395.0000
Shopping                13.0    71.450000    93.703748    2.39    17.9200
Travel                  66.0   109.883485   208.697684    3.75    15.1725


                            50%        75%      max
Category
Automotive              376.090   376.0900   376.09
Bills & Utilities        16.000    16.0000   159.95
Entertainment            36.050    70.2750   104.50
Fees & Adjustments       53.270   100.0000   450.00
Food & Drink             27.205    46.5950   178.28
Gas                      50.000    50.0000    52.50
Groceries                34.750    64.7800   345.43
Health & Wellness        49.560   128.7550   989.32
Home                     99.940   140.4700   181.00
Miscellaneous           150.890   150.8900   150.89
Personal                 62.295    97.6925   179.00
Professional Services  2295.000  3195.0000  4095.00
Shopping                 45.360    95.5600   356.14
Travel                   27.875    81.1025  1088.60