In [1]:
import pandas as pd

In [14]:
df = pd.read_csv('/Users/toddhendricks/Downloads/foods - Sheet1.csv')

In [15]:
df

   Unnamed: 0          food  pounds
0           0         bacon     4.0
1           1  STRAWBERRIES     3.5
2           2         Bacon     7.0
3           3  STRAWBERRIES     3.0
4           4         BACON     6.0
5           5  strawberries     9.0
6           6  Strawberries     1.0
7           7        pecans     3.0

In [18]:
df['category'] = df.food.str.lower().str.replace('bacon','meat').str.replace('strawberries','fruit').str.replace('p')

In [19]:
df

   Unnamed: 0          food  pounds      category
0           0         bacon     4.0          meat
1           1  STRAWBERRIES     3.5  strawberries
2           2         Bacon     7.0          meat
3           3  STRAWBERRIES     3.0  strawberries
4           4         BACON     6.0          meat
5           5  strawberries     9.0  strawberries
6           6  Strawberries     1.0  strawberries
7           7        pecans     3.0        pecans