In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

In [6]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [7]:
df.item_price = df.item_price.str.replace('$','')
df.item_price = df.item_price.astype('float64')

In [8]:
df.item_price

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [25]:
def parse_menu_items(data):
    data['chips_and_guac'] = ['']

In [26]:
parse_menu_items(df.item_name)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [44]:
df.item_name.nunique()

50

In [45]:
df.item_name.str.split()
chips_df = df[df.item_name.str.contains("Chips")]

In [46]:
print(chips_df)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
3            1         1  Chips and Tomatillo-Green Chili Salsa
6            3         1                          Side of Chips
10           5         1                    Chips and Guacamole
14           7         1                    Chips and Guacamole
...        ...       ...                                    ...
4596      1826         1                    Chips and Guacamole
4600      1827         1                    Chips and Guacamole
4605      1828         1                    Chips and Guacamole
4613      1831         1                                  Chips
4616      1832         1                    Chips and Guacamole

     choice_description  item_price
0                   NaN        2.39
3                   NaN        2.39
6                   NaN        1.69
10                  NaN        4.45
14                  NaN        4.45
...                 ...         ...
4596                NaN        4.45
4600                NaN        4.45
4605                NaN        4.45
4613                NaN        2.15
4616                NaN        4.45

[1084 rows x 5 columns]

In [49]:
avg_chips_salsa = chips_df[chips_df.item_name.str.contains("Salsa")]
avg_chips_guac = chips_df[chips_df.item_name.str.contains("Guacamole")]

In [48]:
avg_chips_salsa.item_price.mean()

3.0515358361774774

In [50]:
avg_chips_guac.item_price.mean()

4.595073068893543