In [1]:
import pandas as pd

In [34]:
raw_data = {'vendor_id': [1, 2, 3, 4, 5, 6], 'name': ['vendor_schmendor', 'parts_r_us', 'vendor_king', 'vendor_diagram', 'venny', 'vendtriloquist'], 'contract_sign_date': ['2018-09-01', '2018-09-03', '2018-10-11', '2018-08-21', '2018-08-13', '2018-10-29'],'total_spend' :[34324, 23455, 77654, 23334, 94843, 23444]}
df = pd.DataFrame(raw_data, columns = ['vendor_id', 'name', 'contract_sign_date', 'total_spend'])

In [35]:
df

   vendor_id              name contract_sign_date  total_spend
0          1  vendor_schmendor         2018-09-01        34324
1          2        parts_r_us         2018-09-03        23455
2          3       vendor_king         2018-10-11        77654
3          4    vendor_diagram         2018-08-21        23334
4          5             venny         2018-08-13        94843
5          6    vendtriloquist         2018-10-29        23444

In [37]:
mask = (df.contract_sign_date > '2018-09-01') & (df.contract_sign_date > '2018-09-01')
df = df.loc[mask]

In [38]:
df

   vendor_id            name contract_sign_date  total_spend
1          2      parts_r_us         2018-09-03        23455
2          3     vendor_king         2018-10-11        77654
5          6  vendtriloquist         2018-10-29        23444

In [39]:
array = [2,4,6,8,10]

In [53]:
def reorder_items(n, input_list):
    input_list = input_list[::-1]
    n = len(input_list) - n
    for _ in range(0,n + 1):
        input_list.insert(0, input_list.pop())
    print(input_list)

In [54]:
reorder_items(3 ,array)

[8, 6, 4, 2, 10]

In [55]:
landfill = pd.read_csv('/Users/toddhendricks/Downloads/landfills - Sheet1.csv')

In [56]:
landfill

   landfillID  weight state
0       12300      95    CA
1       12401      85    CA
2         992     105    NY
3         882     100    NY
4       11100      55    MI
5       11201      75    MI
6       11207      60    MI

In [67]:
def return_second_highest_weight(data):
    sorted_data = data.sort_values(by=['weight'], ascending=False)
    return sorted_data.iloc[1]

In [68]:
return_second_highest_weight(landfill)

landfillID    882
weight        100
state          NY
Name: 3, dtype: object