In [4]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/Users/toddhendricks/Downloads/ds138 - Sheet1.csv')

In [3]:
df

   Age Favorite Color  Grade              Name
0   20           blue     88    Willard Morris
1   19           blue     95       Al Jennings
2   22         yellow     92      Omar Mullins
3   21          green     70  Spencer McDaniel

In [23]:
info = df[(df['Favorite Color'].isin(['yellow','blue'])) & (df['Grade'] > 90)]

   Age Favorite Color  Grade          Name
1   19           blue     95   Al Jennings
2   22         yellow     92  Omar Mullins