In [2]:
import pandas as pd

In [3]:
cols = ['id','name','male','female','unknown','total']
active_voters_df = pd.read_csv('/Users/toddhendricks/Downloads/atl_active_voters - Sheet1.csv')

In [4]:
active_voters_df.head(5)

,COUNTY ID,COUNTY NAME,BH MALE VOTERS,BH FEMALE VOTERS,BH UNKNOWN VOTERS,TOTAL VOTERS
0,1,APPLING,929,1125,0,11744
1,2,ATKINSON,396,511,1,4871
2,3,BACON,338,536,1,6880
3,4,BAKER,403,520,0,2293
4,5,BALDWIN,4617,6351,6,26997

In [7]:
active_voters_df.columns

Index(['COUNTY ID', 'COUNTY NAME', '    BH     MALE VOTERS',
       '    BH     FEMALE VOTERS', '    BH        UNKNOWN VOTERS',
       'TOTAL VOTERS'],
      dtype='object')

In [20]:
male_pct = active_voters_df['    BH     MALE VOTERS'] / active_voters_df['TOTAL VOTERS']
female_pct = active_voters_df['    BH     FEMALE VOTERS'] / active_voters_df['TOTAL VOTERS']

In [21]:
active_voters_df['delta'] = female_pct - male_pct

In [25]:
active_voters_df = active_voters_df.sort_values('delta', ascending=False)[:10]

In [26]:
active_voters_df

,COUNTY ID,COUNTY NAME,BH MALE VOTERS,BH FEMALE VOTERS,BH UNKNOWN VOTERS,TOTAL VOTERS,delta
119,120,RANDOLPH,986,1435,5,4426,0.101446
29,30,CLAY,466,679,2,2107,0.101092
46,47,DOUGHERTY,17694,23522,321,63534,0.091730
18,19,CALHOUN,786,1080,1,3233,0.090937
30,31,CLAYTON,60146,77716,204,196356,0.089480
128,129,SUMTER,3624,5257,9,18294,0.089264
48,49,EARLY,1480,2106,6,7447,0.084061
149,150,WASHINGTON,2614,3702,3,13201,0.082418
117,118,QUITMAN,272,399,0,1604,0.079177
39,40,CRISP,2138,3116,10,12913,0.075738

222282.80000000005

In [29]:
df.total.sum()

7383220

In [33]:
dfx = pd.read_html('/Users/toddhendricks/Downloads/detail.xls')

In [28]:
def identify_big_counties(row):
    if row['TOTAL VOTERS'] > 10000:
        return True
    else:
        return False

In [ ]:
active_voters_df['']