In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('/Users/toddhendricks/Downloads/online_retail_II.xlsx')

In [4]:
df.columns

Index(['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'Price', 'Customer ID', 'Country'],
      dtype='object')

In [8]:
df['Country'].value_counts()

United Kingdom          485852
EIRE                      9670
Germany                   8129
France                    5772
Netherlands               2769
Spain                     1278
Switzerland               1187
Portugal                  1101
Belgium                   1054
Channel Islands            906
Sweden                     902
Italy                      731
Australia                  654
Cyprus                     554
Austria                    537
Greece                     517
United Arab Emirates       432
Denmark                    428
Norway                     369
Finland                    354
Unspecified                310
USA                        244
Japan                      224
Poland                     194
Malta                      172
Lithuania                  154
Singapore                  117
RSA                        111
Bahrain                    107
Canada                      77
Thailand                    76
Hong Kong                   76
Israel                      74
Iceland                     71
Korea                       63
Brazil                      62
West Indies                 54
Bermuda                     34
Nigeria                     32
Lebanon                     13
Name: Country, dtype: int64

In [12]:
df['Invoice'].groupby(df['Country']).value_counts()

Country      Invoice
Australia    536009     99
             513987     87
             526756     47
             534450     27
             507148     26
                        ..
Unspecified  C495770     1
             C515620     1
             C521020     1
             C532353     1
West Indies  520018     54
Name: Invoice, Length: 28816, dtype: int64

In [13]:
df.groupby(['Invoice']).sum()

         Quantity  Price  Customer ID
Invoice
489434        166  32.65     104680.0
489435         60  10.50      52340.0
489436        193  70.88     248482.0
489437        145  83.45     353326.0
489438        826  44.05     307734.0
...           ...    ...          ...
C538121        -1  12.75      15535.0
C538122        -1   1.25      14696.0
C538123        -4   5.40      37815.0
C538124        -6  16.20      45987.0
C538164        -1   1.95      14031.0

[28816 rows x 3 columns]

In [17]:
df['Price'].groupby(df['Country']).mean().sort_values(ascending=False)

Country
Hong Kong               114.676053
Norway                   93.769241
Malta                    34.358023
RSA                      27.979730
Lebanon                   8.936154
EIRE                      7.948114
Sweden                    7.653093
Unspecified               7.136742
Belgium                   6.856499
Italy                     6.292845
Australia                 6.202324
Spain                     6.186244
Channel Islands           5.870033
United Arab Emirates      5.376481
Austria                   4.623464
USA                       4.552869
United Kingdom            4.543470
Switzerland               4.411281
Cyprus                    4.357184
France                    4.189418
Finland                   4.089718
Portugal                  3.713261
Germany                   3.677999
Greece                    3.650754
Nigeria                   3.415000
Netherlands               3.311910
Israel                    3.303108
Bahrain                   3.298318
Singapore                 3.183846
Thailand                  2.999605
Poland                    2.669845
Denmark                   2.642383
Lithuania                 2.564740
Bermuda                   2.491176
Korea                     2.384762
Iceland                   2.295070
West Indies               2.273519
Japan                     1.981027
Canada                    1.915714
Brazil                    1.834032
Name: Price, dtype: float64