In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/toddhendricks/Downloads/tedsd_puf_2018.csv')

In [3]:
df.head(5)

,DISYR,CASEID,STFIPS,CBSA2010,EDUC,MARSTAT,SERVICES,DETCRIM,LOS,PSOURCE,...,TRNQFLG,BARBFLG,SEDHPFLG,INHFLG,OTCFLG,OTHERFLG,DIVISION,REGION,IDU,ALCDRUG
0,2018,20181520385,2,-9,3,4,7,-9,36,1,...,0,0,0,0,0,0,9,4,-9,1
1,2018,20181441952,2,-9,3,1,7,-9,35,1,...,0,0,0,0,0,0,9,4,-9,3
2,2018,20181423021,2,-9,3,4,7,-9,36,1,...,0,0,0,0,0,0,9,4,-9,1
3,2018,20181392410,2,-9,3,1,7,-9,35,1,...,0,0,0,0,0,1,9,4,-9,3
4,2018,20181454652,2,-9,5,2,7,-9,1,1,...,0,0,0,0,0,0,9,4,-9,1

In [4]:
df.columns

Index(['DISYR', 'CASEID', 'STFIPS', 'CBSA2010', 'EDUC', 'MARSTAT', 'SERVICES',
       'DETCRIM', 'LOS', 'PSOURCE', 'NOPRIOR', 'ARRESTS', 'EMPLOY', 'METHUSE',
       'PSYPROB', 'PREG', 'GENDER', 'VET', 'LIVARAG', 'DAYWAIT', 'SERVICES_D',
       'REASON', 'EMPLOY_D', 'LIVARAG_D', 'ARRESTS_D', 'DSMCRIT', 'AGE',
       'RACE', 'ETHNIC', 'DETNLF', 'DETNLF_D', 'PRIMINC', 'SUB1', 'SUB2',
       'SUB3', 'SUB1_D', 'SUB2_D', 'SUB3_D', 'ROUTE1', 'ROUTE2', 'ROUTE3',
       'FREQ1', 'FREQ2', 'FREQ3', 'FREQ1_D', 'FREQ2_D', 'FREQ3_D', 'FRSTUSE1',
       'FRSTUSE2', 'FRSTUSE3', 'HLTHINS', 'PRIMPAY', 'FREQ_ATND_SELF_HELP',
       'FREQ_ATND_SELF_HELP_D', 'ALCFLG', 'COKEFLG', 'MARFLG', 'HERFLG',
       'METHFLG', 'OPSYNFLG', 'PCPFLG', 'HALLFLG', 'MTHAMFLG', 'AMPHFLG',
       'STIMFLG', 'BENZFLG', 'TRNQFLG', 'BARBFLG', 'SEDHPFLG', 'INHFLG',
       'OTCFLG', 'OTHERFLG', 'DIVISION', 'REGION', 'IDU', 'ALCDRUG'],
      dtype='object')

In [29]:
def get_terminal_status(row):
    val = 1
    if row['REASON'] == 1:
        pass
    elif row['REASON'] == 4:
        val = 'N/A'
    elif row['REASON'] == 7:
        val = 'N/A'
    else:
        val = 0
    return val

In [30]:
df['terminal_status'] = df.apply(get_terminal_status, axis=1)

In [31]:
df['terminal_status'].value_counts()

1      702218
0      545788
N/A    418360
Name: terminal_status, dtype: int64