In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn

In [7]:
df = pd.read_csv('/Users/toddhendricks/Downloads/metis_alumni.csv',sep=' ')

In [8]:
df.head(5)

,Current,or,Most,Recent,Employer,First,Nane,Last,Name,Job,Title,Industry,Location
0,[stealth startup] Par Jayaprakash Machine Lear...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,[stealth startup] Connor Eaton Data Scientist ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1QBit,Prakash,Verma,Computational,Chemist,InfoTech,&,Services,Canada,NaN,NaN,NaN,NaN
3,2nd Watch Bryant Biggs Senior Cloud Consultant...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,360i David Gim Data Engineer Advertising & Mar...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN